@text-color: black;
@hover-color: #eee;

#logo {
    width:  150px;
    display: inline;
    margin-top: 10px;
}

.custom-nav {
    ul {
        list-style-type: none;
        padding-top: 30px;
        float: right;
        a {
            text-decoration: none;
            color: @text-color;
            margin-left: 20px;
            padding: 10px 20px;
            font-weight: bold;
            &:hover {
                background-color: @hover-color;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .custom-nav {
        ul {
            a {
                margin-left: 0;
            }
        }
    }
}